.grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    margin: 10px;
    padding: 25px 25px;
}

.card {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0.8;

    box-shadow: 0.5px 0.5px;
}

.card:hover {
    transform: scale(1.1);
}

.title {
    text-align: center;
    font-weight: 700;
}

/* #b5aaff */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}