.grid-preview {

    grid-template-columns: 1fr;
    gap: 10px;
    margin: 10px;
    padding: 25px 25px;
}

.card-preview {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #b5aaff;

}

.types {
    font-size: 18px;
}

.sub-text {
    font-size: 16px;
    font-weight: 400;
}

.preview-img {
    margin: 0 auto;
}